html{
    font-family: Arial, sans-serif;
    background-color: rgb(251, 253, 237);
   
}
header{
    display:grid;
    grid-template-columns: repeat(1,5fr);
    grid-template-rows: 100px repeat(1,1fr);
}
h2{
    display:grid;
    text-align: center;
    grid-row: 1fr; 
}
nav{
    display:grid;
    grid-column: 1/-1;
    grid-row: 1fr;
    padding:10px;
    font-size:17px;
    font-weight: bold;
    background-color: #f81d1d69;
}
ul{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-row: 1fr;
    list-style-type:none;
}
li{
    padding-left: 16px;
}
li::before{
    content: "🏀";
    padding-right: 8px;
    color: green;
}
nav a{
    color:aliceblue;
}
h1{
    grid-row: 1fr; 
    text-align: center;
    border: 3.5px solid;
}
.main-content{
    /*grid-template-rows:repeat(4,4fr);*/
    margin-bottom: 40px;
    /*border: 3.5px solid;*/
}
.article{
    height: 125px;
    max-width: auto;
    overflow: hidden;
    grid-row: 1fr;
    padding:5px;
    font-size:12px;
    font-weight: bold;
}